<div class="flex flex-row">
    {% if isTop10exists == true %}
        <div>
            {% if app.request.get('_route') == "app_show_top_ten" or app.request.get('_route') == "app_edit_top_ten_success" %}
                <a href="{{ path('app_show_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded shadow-[1px_1px_10px_3px_#708090] transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                        Show
                    </button>
                </a>
            {% else %}
                <a href="{{ path('app_show_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                        Show
                    </button>
                </a>
            {% endif %}
        </div>
        <div>                
            <a href="{{ path('app_create_top_ten') }}">
                <button
                    type="button"
                    class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all opacity-25 hover:text-white hover:bg-gradient-to-r from-indigo-600"
                    disabled>
                    Create
                </button>
            </a>
        </div>
        <div>
            {% if app.request.get('_route') == "app_edit_top_ten" %}
                <a href="{{ path('app_edit_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded shadow-[1px_1px_10px_3px_#708090] transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                        Edit
                    </button>
                </a>
            {% else %}
                <a href="{{ path('app_edit_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                        Edit
                    </button>
                </a>
            {% endif %}
        </div>
        <div>
            <button
                type="button"
                class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600"
                data-te-toggle="modal"
                data-te-target="#deleteTop10Modal">
                Delete
            </button>
            {{ include('favourites/_delete_top_ten_modal.html.twig') }}
        </div>
    {% else %}
        {% if app.request.get('_route') == "app_create_top_ten_success" %}
            <div>
                <a href="{{ path('app_show_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded shadow-[1px_1px_10px_3px_#708090] transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                        Show
                    </button>
                </a>
            </div>
            <div>                
                <a href="{{ path('app_create_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all opacity-25 hover:text-white hover:bg-gradient-to-r from-indigo-600"
                        disabled>
                        Create
                    </button>
                </a>
            </div>
            <div>
                <a href="{{ path('app_edit_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                        Edit
                    </button>
                </a>
            </div>
            <div>
                <button
                    type="button"
                    class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600"
                    data-te-toggle="modal"
                    data-te-target="#deleteTop10Modal">
                    Delete
                </button>
                {{ include('favourites/_delete_top_ten_modal.html.twig') }}
            </div>
        {% else %}
            <div>
                <a href="{{ path('app_show_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all opacity-25 hover:text-white hover:bg-gradient-to-r from-indigo-600"
                        disabled>
                        Show
                    </button>
                </a>
            </div>
            <div>
                {% if app.request.get('_route') == "app_create_top_ten" %}
                    <a href="{{ path('app_create_top_ten') }}">
                        <button
                            type="button"
                            class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded shadow-[1px_1px_10px_3px_#708090] transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                            Create
                        </button>
                    </a>
                {% else %}
                    <a href="{{ path('app_create_top_ten') }}">
                        <button
                            type="button"
                            class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all hover:text-white hover:bg-gradient-to-r from-indigo-600">
                            Create
                        </button>
                    </a>
                {% endif %}            
            </div>
            <div>
                <a href="{{ path('app_edit_top_ten') }}">
                    <button
                        type="button"
                        class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all opacity-25 hover:text-white hover:bg-gradient-to-r from-indigo-600"
                        disabled>
                        Edit
                    </button>
                </a>
            </div>
            <div>
                <button
                    type="button"
                    class="text-xs 2xl:text-sm uppercase leading-normal text-indigo-400 tracking-wide w-16 sm:w-20 px-1 py-1 mx-2 border-2 border-[#778899] rounded transition-all opacity-25 hover:text-white hover:bg-gradient-to-r from-indigo-600"
                    data-te-toggle="modal"
                    data-te-target="#deleteTop10Modal"
                    disabled>
                    Delete
                </button>
                {{ include('favourites/_delete_top_ten_modal.html.twig') }}
            </div>
        {% endif %}
    {% endif %}            
</div>