{% extends 'base.html.twig' %}

{% block title %}MFC Create Top 10 Movies{% endblock %}

{% block footer %}
    <script src="/js/favouritesMain.js"></script>
    <script src="/js/favouritesMovies.js"></script>
{% endblock %}

{% block body %}
    <div>
        {{ include('favourites/_flash_message.html.twig') }}
    </div>
    
    <div class="mt-8">
        {{ include('favourites/_movies_nav.html.twig') }}
    </div>

    <form class="my-4" action="{{ path('app_create_top_ten_success') }}" method="POST" novalidate>
        <!--CHECKBOX (TYPE OF LIST)-->
        <div class="flex justify-center mt-5 mb-1">
            <div class="inline-flex">            
                <input 
                    class="peer/ordered relative float-left accent-indigo-500 enabled:hover:cursor-pointer enabled:hover:shadow-[4px_4px_8px_1px_#94a3b8]" 
                    type="checkbox" 
                    id="orderedListCheckbox" 
                    name="orderedTop10"
                    checked
                    disabled>
                <label 
                    class="inline-block font-light sm:font-normal text-slate-200 ml-1 peer-enabled/ordered:hover:underline peer-enabled/ordered:hover:cursor-pointer" 
                    for="orderedListCheckbox">
                    Numbered list
                </label>
            </div>
            <div class="inline-flex ml-4">            
                <input 
                    class="peer/unordered relative float-left accent-indigo-500 enabled:hover:cursor-pointer enabled:hover:shadow-[4px_4px_8px_1px_#94a3b8]" 
                    type="checkbox" 
                    id="unorderedListCheckbox" 
                    name="unorderedTop10">
                <label 
                    class="inline-block font-light sm:font-normal text-slate-200 ml-1 hover:underline hover:cursor-pointer peer-disabled/unordered:hover:no-underline peer-disabled/unordered:hover:cursor-default" 
                    for="unorderedListCheckbox">
                    In no particular order
                </label>
            </div>           
        </div>

        <!--HIDDEN INPUT-->
        <div>
            <input type="hidden" id="typeOfList" name="typeOfList" value="ordered">
        </div>

        <div class="mx-5 lg:mx-0">        
            {% if data|length > 0 %}
                <ul id="top10MoviesList" class="list-decimal text-sm sm:text-base">
                    {% for i in 1..10 %} 
                        <li id="movieItem{{ i }}" class="border border-emerald-500 mb-4">
                            <select 
                                data-te-select-init
                                data-te-select-filter="true" 
                                data-te-select-placeholder="Choose movie from your library"
                                data-te-select-clear-button="true"
                                name="pickMoviesSelection{{ i }}"
                                id="pickMoviesSelection{{ i }}"
                                onchange="checkingIfSelectedTitleIsDuplicated(event)">                           
                                {% for value in data %}
                                    <option value="{{ value.originalTitle }}">{{ value.originalTitle }}</option>
                                {% endfor %}
                            </select>
                        </li>                
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!--SUBMIT BUTTON-->
        <div class="flex justify-center mt-4">       
            <button 
                type="submit"
                class="font-bold text-xs 2xl:text-sm text-indigo-700 uppercase leading-normal ml-8 px-3 py-1 rounded border-2 border-[#708090] hover:text-slate-300 hover:bg-gradient-to-r from-indigo-600 opacity-25"
                id="top10MoviesBtn"
                disabled>
                Save
            </button>        
        </div>
    </form>
{% endblock %}