{% extends 'base.html.twig' %}

{% block title %}MFC Top 5 Tv Series{% endblock %}

{% block body %}    
    <div>
        {{ include('favourites/_flash_message.html.twig') }}
    </div>
    
    <div class="mt-8">
        {{ include('favourites/_series_nav.html.twig') }}
    </div>
    
    <div class="flex justify-center mt-10">
        {% if data|length > 0 %}
            <div>
                {% if data[0].typeOfList == "ordered" %}
                    <ul class="list-decimal font-light text-lg text-slate-200">
                        <li class="font-bold mb-2">{{ data[0].first }}</li>
                        <li class="font-semibold mb-2">{{ data[0].second }}</li>
                        <li class="font-medium mb-2">{{ data[0].third }}</li>
                        <li class="font-normal mb-2">{{ data[0].fourth }}</li>
                        <li class="font-normal mb-2">{{ data[0].fifth }}</li>
                    </ul>
                {% else %}
                    <ul class="list-none font-light text-lg text-slate-200">
                        <li class="mb-2">{{ data[0].first }}</li>
                        <li class="mb-2">{{ data[0].second }}</li>
                        <li class="mb-2">{{ data[0].third }}</li>
                        <li class="mb-2">{{ data[0].fourth }}</li>
                        <li class="mb-2">{{ data[0].fifth }}</li>
                    </ul>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}