<div class="mb-4">
    <div class="text-xl">
        {{ movie.title }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.summary }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.genres }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.director }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.stars }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.rating }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.year }}
    </div>
    <div class="text-sm dark:text-gray-400">
        {{ movie.review }}
    </div>
  
    <div class="flex">
        <a href="{{ path('app_movies_edit', { movie: movie.id }) }}" class="mr-2">Edit</a>
    </div>
</div>
