{% extends 'base.html.twig' %}

{% block title %}MFC Registration{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}                                                       
        <div 
            class="mb-3 inline-flex w-full items-center rounded-lg bg-[#f9edd2] px-6 py-5 text-base text-[#825c0f]"
            role="alert"
            data-te-alert-init
            data-te-alert-show>            
            <span class="mr-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="h-6 w-6">
                <path
                    fill-rule="evenodd"
                    d="M9.401 3.003c1.155-2 4.043-2 5.197 0l7.355 12.748c1.154 2-.29 4.5-2.599 4.5H4.645c-2.309 0-3.752-2.5-2.598-4.5L9.4 3.003zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zm0 8.25a.75.75 0 100-1.5.75.75 0 000 1.5z"
                    clip-rule="evenodd">
                </svg>
            </span>            
            <div>{{ message }}</div>
            <button
                type="button"
                class="ml-auto box-content rounded-none border-none p-1 text-[#825c0f] opacity-50 hover:text-[#825c0f] hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                data-te-alert-dismiss
                aria-label="Close">
                <span
                    class="w-[1em] focus:opacity-100 disabled:pointer-events-none disabled:select-none disabled:opacity-25 [&.disabled]:pointer-events-none [&.disabled]:select-none [&.disabled]:opacity-25">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="h-6 w-6">
                        <path
                            fill-rule="evenodd"
                            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                            clip-rule="evenodd">
                    </svg>
                </span>
            </button>            
        </div>
    {% endfor %}

    <div class="w-1/2 mx-auto mb-10">
        <div class="text-[#708090] rounded border-2 border-indigo-500/75 p-4">    
            {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <h1 class="text-3xl font-normal leading-tight mb-4">Create account</h1>

                <div class="mb-4">
                    {{ include('/profile/_profile_form.html.twig', { form: registrationForm.userProfile }) }}
                </div>

                <div>
                    {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'block font-medium text-[#708090] tracking-wide mb-0.5'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'block w-full text-slate-200 rounded-md border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 outline-none focus:border-slate-300 hover:border-slate-400 p-2 mt-1 mb-2'}})}}
                    {{ form_errors(registrationForm.email) }}
                </div>

                <div class="grid grid-cols-1 gap-4">
                    <div>
                        {{ form_label(registrationForm.plainPassword.first, 'Password', {'label_attr': {'class': 'block font-medium text-[#708090] tracking-wide mb-0.5'}}) }}
                        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'block w-full text-slate-200 rounded-md border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 outline-none focus:border-slate-300 hover:border-slate-400 p-2 mt-1 mb-2'}})}}
                        {{ form_errors(registrationForm.plainPassword.first) }}
                        <div class="text-sm font-medium">(*Passwords must be at least 8 characters)</div>
                    </div>
                    
                    <div>
                        {{ form_label(registrationForm.plainPassword.second, 'Re-enter password', {'label_attr': {'class': 'block font-medium text-[#708090] tracking-wide mb-0.5'}}) }}
                        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'block w-full text-slate-200 rounded-md border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 outline-none focus:border-slate-300 hover:border-slate-400 p-2 mt-1 mb-2'}})}}
                        {{ form_errors(registrationForm.plainPassword.second) }}
                    </div>
                </div>
                
                <div class="flex items-center mt-4 mb-4">
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'h-4 w-4 accent-indigo-500 mr-1 hover:cursor-pointer hover:shadow-[4px_4px_8px_1px_#94a3b8]'}}) }}
                    {{ form_label(registrationForm.agreeTerms, 'Agree to terms', {'label_attr': {'class': 'font-medium text-[#708090] tracking-wide ml-1 hover:underline hover:cursor-pointer'}}) }}
                    
                </div>
                <div>{{ form_errors(registrationForm.agreeTerms) }}</div>

                <div class="mt-10">
                    <button type="submit" 
                        class="block w-full font-semibold text-slate-200 uppercase tracking-wider border-2 border-[#708090] hover:text-indigo-500 hover:border-indigo-500/75 rounded-md p-2">Register</button>
                </div>
            {{ form_end(registrationForm) }}

            <hr
                class="my-10 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-slate-400 to-transparent opacity-75"
            >
            
            <div class="text-slate-400 text-center">
                Already have an account? <a href="{{ path('app_login') }}" class="hover:text-indigo-500 hover:underline decoration-1">Log in</a>
            </div>
        </div>
    </div>
{% endblock %}
