{% extends 'base.html.twig' %}

{% block title %}MFC Password Assistance{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="w-1/2 mx-auto">
        <div class="text-[#708090] rounded border-2 border-indigo-500/75 p-4">
            <h1 class="text-3xl font-normal leading-tight mb-4">Reset your password</h1>

            {{ form_start(requestForm, {'attr': {'novalidate': 'novalidate'}}) }}
                <div>
                    Enter the email address associated with your MFC account, and we will send you a
                    link to reset your password.
                </div>

                <div class="mt-4">
                    {{ form_label(requestForm.email, 'Email', {'label_attr': {'class': 'block font-medium text-[#708090] tracking-wide mb-0.5'}}) }}
                    {{ form_widget(requestForm.email, {'attr': {'class': 'block w-full text-slate-200 rounded-md border-2 border-[#708090] bg-gradient-to-r from-indigo-700 to-indigo-400 outline-none shadow-[4px_4px_8px_1px_#708090] focus:border-slate-300 focus:shadow-[4px_4px_8px_1px_#cbd5e1] hover:border-slate-400 hover:shadow-[4px_4px_8px_1px_#94a3b8] p-2 mt-1 mb-2'}})}}
                    {{ form_errors(requestForm.email) }}
                </div>
                
                <div class="mt-10">
                    <button type="submit" 
                        class="block w-full font-semibold text-slate-200 uppercase tracking-wider border-2 border-[#708090] hover:text-indigo-500 hover:border-indigo-500/75 rounded-md p-2">Continue</button>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
