<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/img/Logo.png" type="image">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
    </head>
    <body class="flex flex-col min-h-screen mt-5 dark:bg-gray-800 dark:text-white">
        <div class="flex w-full md:w-2/3 mx-auto mb-4 justify-between items-center">
            <div class="flex flex-row text-4xl">
                <a href="{{ path('app_index') }}" class="">
                    <img class="" src="/img/Logo.png" alt="">                    
                </a>
                <div class="flex items-center font-light tracking-wide ml-1.5 bg-clip-text text-transparent bg-gradient-to-r from-slate-200 to-indigo-600"><a href="{{ path('app_index') }}">My Film Collection</a></div>
                {% block bread %}

                {% endblock %}
            </div>
            <div class="text-right">
                <div class="text-sm font-semibold uppercase tracking-wider dark:text-gray-400 flex">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div>
                            {% if app.request.get('_route') == "app_library" %}
                                <a 
                                    href="{{ path('app_library') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Library</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_library') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Library</a>
                            {% endif %}                            
                        </div>
                        <div class="ml-2">
                            {% if app.request.get('_route') == "app_favourites" %}
                                <a 
                                    href="{{ path('app_favourites') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Favourites</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_favourites') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Favourites</a>
                            {% endif %}                            
                        </div>
                        <div class="ml-2">
                            {% if app.request.get('_route') == "app_settings_profile" %}
                                <a 
                                    href="{{ path('app_settings_profile') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Profile Settings</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_settings_profile') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Profile Settings</a>
                            {% endif %}                            
                        </div>
                        <div class="ml-2">
                            <a 
                                href="{{ path('app_logout') }}"
                                class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                            >Logout</a>
                        </div>
                    {% else %}
                        <div>
                            {% if app.request.get('_route') == "app_login" %}
                                <a 
                                    href="{{ path('app_login') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Login</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_login') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Login</a>
                            {% endif %}
                        </div>
                        <div class="ml-2">
                            {% if app.request.get('_route') == "app_register" %}
                                <a 
                                    href="{{ path('app_register') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Register</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_register') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Register</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="w-full md:w-2/3 mx-auto">
            {% block body %}{% endblock %}
        </div>

        <footer class="w-full mt-auto text-slate-200">            
            <div class="w-full p-4 bg-indigo-500/50 text-center">
                © 2023-2024 Copyright by
                <a href="https://tomasznyckowiak.pl/" target="_blank" class="font-semibold hover:underline">Tomasz Nyćkowiak</a>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>       
        {% block footer %}
		{% endblock %}
    </body>
</html>
