<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="/img/Logo.png" type="image">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
    </head>
    <body class="flex flex-col min-h-screen mt-5 dark:bg-gray-800 dark:text-white">
        <div class="flex w-full md:w-2/3 mx-auto mb-4 justify-between items-center">
            <div class="flex items-center flex-row">
                <a href="{{ path('app_index') }}">
                    <img class="h-[32px] w-[32px] sm:h-[64px] sm:w-[64px]" src="/img/Logo.png" alt="My Film Collection Logo">                   
                </a>
                <div class="flex font-light text-xl sm:text-3xl lg:text-4xl tracking-wide ml-1.5 bg-clip-text text-transparent bg-gradient-to-r from-slate-200 to-indigo-600"><a href="{{ path('app_index') }}">My Film Collection</a></div>
            </div>
            <div class="text-right">
                <div class="flex text-xs sm:text-sm md:text-base lg:text-lg font-medium lg:font-semibold uppercase lg:tracking-wider dark:text-gray-400">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div>
                            {% set libraryPages = ["app_library", "app_add_title", "app_library_edit_title", "app_library_remove_title",
                            "app_library_title_filter", "app_library_titletype_movie_filter", "app_library_titletype_tvseries_filter",
                            "app_library_titletype_other_filter", "app_library_rating_asc_filter", "app_library_rating_desc_filter",
                            "app_library_imdbrating_asc_filter", "app_library_imdbrating_desc_filter", "app_library_towatch_filter",
                            "app_form_add_title_manually", "app_add_title_manually_fail", "app_add_title_manually_success"] %}
                            {% if app.request.get('_route') in libraryPages %}
                                <a 
                                    href="{{ path('app_library') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Library</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_library') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Library</a>
                            {% endif %}                            
                        </div>
                        <div class="ml-2">
                            {% set favouritesPages = ["app_favourites", "app_create_top_ten", "app_create_top_ten_success", "app_show_top_ten", "app_edit_top_ten", "app_edit_top_ten_success", "app_delete_top_ten",
                                "app_create_top_five", "app_create_top_five_success", "app_show_top_five", "app_edit_top_five", "app_edit_top_five_success", "app_delete_top_five"] %}
                            {% if app.request.get('_route') in favouritesPages %}
                                <a 
                                    href="{{ path('app_favourites') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Favourites</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_favourites') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Favourites</a>
                            {% endif %}                            
                        </div>
                        <div class="ml-2">
                            {% if app.request.get('_route') == "app_profile" %}
                                <a 
                                    href="{{ path('app_profile') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Profile</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_profile') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Profile</a>
                            {% endif %}                            
                        </div>
                        <div class="ml-2">
                            <a 
                                href="{{ path('app_logout') }}"
                                class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                            >Logout</a>
                        </div>
                    {% else %}
                        <div>
                            {% if app.request.get('_route') == "app_login" %}
                                <a 
                                    href="{{ path('app_login') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Login</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_login') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Login</a>
                            {% endif %}
                        </div>
                        <div class="ml-2 mr-1">
                            {% if app.request.get('_route') == "app_register" %}
                                <a 
                                    href="{{ path('app_register') }}"
                                    class="text-indigo-500 underline decoration-2"
                                >Register</a>
                            {% else %}
                                <a 
                                    href="{{ path('app_register') }}"
                                    class="no-underline hover:text-indigo-500 hover:underline decoration-2"
                                >Register</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="w-full md:w-2/3 mx-auto">
            {% block body %}{% endblock %}
        </div>

        <footer class="w-full mt-auto text-slate-200">            
            <div class="w-full p-4 bg-indigo-500/50 text-center text-sm md:text-base">
                © 2023-2024 Copyright by
                <a href="https://tomasznyckowiak.pl/" target="_blank" class="font-semibold hover:underline">Tomasz Nyćkowiak</a>
            </div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>       
        {% block footer %}
		{% endblock %}
    </body>
</html>
