<div>
    <form id="editForm{{ value.id }}" action="{{ path('app_library_edit_title', { id: value.id }) }}" method="POST" enctype="multipart/form-data" novalidate>
        <!--Rating input-->
        <div class="mb-4">
            <div class="inline-flex items-center">
                <div class="inline-block text-[#031e49]">Rating:</div>
                <div class="relative" id="ratingAsStars{{ value.id }}">{{ include('library/_edit_user_rating_stars.html.twig') }}</div>
                {% if value.rating != null %}
                    <div>
                        <input type="hidden" id="rating{{ value.id }}" name="rating" value="{{ value.rating }}">
                    </div>
                {% else %}
                    <div>
                        <input type="hidden" id="rating{{ value.id }}" name="rating" value="">
                    </div>
                {% endif %}
            </div>
            <div class="text-xs text-[#031e49] tracking-wide">(*click to select, double click to reset rating)</div>
        </div>

        <!--To Watch Checkbox-->
        <div class="inline-block">
            <div class="inline-flex mb-4">
                {% if value.toWatch == 1 %}
                    <input 
                        class="relative float-left accent-indigo-500 rounded-[0.25rem] outline-none hover:cursor-pointer" 
                        type="checkbox" 
                        id="checkboxToWatch{{ value.id }}" 
                        name="toWatch"
                        checked>
                    <label 
                        class="inline-block text-[#031e49] ml-1 hover:cursor-pointer" 
                        for="checkboxToWatch{{ value.id }}">
                        Add to watchlist
                    </label>
                {% else %}
                    <input 
                        class="relative float-left accent-indigo-500 rounded-[0.25rem] outline-none hover:cursor-pointer" 
                        type="checkbox" 
                        id="checkboxToWatch{{ value.id }}" 
                        name="toWatch">
                    <label 
                        class="inline-block text-[#031e49] ml-1 hover:cursor-pointer" 
                        for="checkboxToWatch{{ value.id }}">
                        Add to watchlist
                    </label>
                {% endif %}
            </div>
        </div>        

        <!--Review-->
        <div class="mb-4">
            <div class="text-[#031e49]">My Review:</div>
            {% if value.review != null %}
            <textarea 
                class="text-slate-200 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 p-1.5 outline-none focus:border-slate-300"
                id="reviewFor{{ value.id }}"
                name="review" 
                rows="5" 
                cols="50">{{ value.review }}</textarea>
            {% else %}
            <textarea 
                class="text-slate-200 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 p-1.5 outline-none focus:border-slate-300"
                id="reviewFor{{ value.id }}"
                name="review" 
                rows="5" 
                cols="50"></textarea>
            {% endif %}
        </div>

        <!--Other Optional Information Checkbox-->
        <div class="inline-flex mb-4">
            <input 
                class="allInfo relative float-left accent-indigo-500 hover:cursor-pointer" 
                type="checkbox" 
                id="optionalInfoCheckbox{{ value.id }}" 
                name="noteOptionalInfo">
            <label 
                class="inline-block text-[#031e49] ml-1 hover:cursor-pointer" 
                for="optionalInfoCheckbox{{ value.id }}">
                I want to change other information about the title.
            </label>
        </div>

        <!--Hidden inputs-->
        <div class="hidden" id="hiddenInputs{{ value.id }}">
            <!--Title input-->
            <div class="flex justify-center text-sm font-semibold" id="errorMessageForTitle{{ value.id }}"></div>
            <div class="flex mb-4">
                <label 
                    for="originalTitle{{ value.id }}" 
                    class="inline-block text-[#031e49]"
                    >Title:
                </label>
                <input 
                    type="text" 
                    class="text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                    id="originalTitle{{ value.id }}" 
                    name="originalTitle"
                    maxlength="100" 
                    value="{{ value.originalTitle }}">                
            </div>

            <!--Title type input-->
            <div class="flex items-center mb-4">
                <div>
                    <input type="hidden" id="hiddenValueTitleType{{ value.id }}" name="hiddenValueTitleType" value="{{ value.titleType }}">
                </div>            
            
                <label class="inline-block text-[#031e49]" for="titleType">Title type:</label>
                <div class="inline-block grow ml-1 font-light border border-[#031e49]">
                    <select onchange="selectTitleTypeEdit(event)" name="titleType" id="titleType{{ value.id }}" data-te-select-init>
                        <option value="Movie">Movie</option>
                        <option value="Music Video">Music Video</option>
                        <option value="Podcast Episode">Podcast Episode</option>
                        <option value="Podcast Series">Podcast Series</option>
                        <option value="Short">Short</option>
                        <option value="Tv Episode">Tv Episode</option>
                        <option value="Tv Mini Series">Tv Mini Series</option>
                        <option value="Tv Movie">Tv Movie</option>
                        <option value="Tv Series">Tv Series</option>
                        <option value="Tv Short">Tv Short</option>
                        <option value="Tv Special">Tv Special</option>
                        <option value="Video">Video</option>
                        <option value="Video Game">Video Game</option>
                    </select>
                </div>
            </div>
            
            <!--Release date input-->
            <div class="mb-4">
                <label class="inline-block text-[#031e49]">Release Date:</label>
                {% set startDate = "" %}
                {% set endDate = "" %}
                {% if '-' in value.releaseDate %}
                    {% set startDate = value.releaseDate[:4] %}
                    {% set endDate = value.releaseDate[5:] %}                
                    <input 
                        type="text" 
                        class="text-slate-200 w-12 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="releaseDate{{ value.id }}" 
                        name="releaseDate"
                        maxlength="4" 
                        value="{{ startDate }}">
                    <div id="dashBetweenDates{{ value.id }}" class="inline-block text-[#031e49]">-</div>
                    <input 
                        type="text" 
                        class="text-slate-200 w-12 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="releaseDateEndYear{{ value.id }}" 
                        name="releaseDateEndYear"
                        maxlength="4" 
                        value="{{ endDate }}">
                {% else %}
                    <input 
                        type="text" 
                        class="text-slate-200 w-12 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="releaseDate{{ value.id }}" 
                        name="releaseDate"
                        maxlength="4" 
                        value="{{ value.releaseDate }}">
                    <div class="inline-block text-[#031e49]">-</div>
                    <input 
                        type="text" 
                        class="text-slate-200 w-12 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="releaseDateEndYear{{ value.id }}" 
                        name="releaseDateEndYear"
                        maxlength="4" 
                        disabled>
                {% endif %}
                <div class="inline-block text-sm font-semibold" id="errorMessageForReleaseDate{{ value.id }}"></div>
            </div>

            <!--Runtime input-->
            <div class="mb-4">
                <label class="inline-block text-[#031e49]">Runtime:</label>
                <input 
                    type="text" 
                    class="text-slate-200 w-20 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                    id="runtime{{ value.id }}" 
                    name="runtime"
                    maxlength="50" 
                    value="{{ value.runtime }}">
            </div>

            <!--Director, writer and creator inputs-->
            {% if value.titleType == "Movie" or value.titleType == "Short" or value.titleType == "Tv Episode" or 
                value.titleType == "Tv Movie" or value.titleType == "Tv Short" or value.titleType == "Tv Special" or
                value.titleType == "Video" or value.titleType == "Video Game" %}
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Director(s):</label>
                    <input 
                        type="text" 
                        class="text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="director{{ value.id }}" 
                        name="director"
                        maxlength="100" 
                        value="{{ value.director }}">
                </div>
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Writer(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="writer{{ value.id }}" 
                        name="writer"
                        maxlength="100" 
                        value="{{ value.writer }}">
                </div>            
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Creator(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="creator{{ value.id }}" 
                        name="creator"
                        maxlength="100" 
                        value="{{ value.creator }}"
                        disabled>
                </div>            
            {% elseif value.titleType == "Tv Series" or value.titleType == "Tv Mini Series" %}
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Director(s):</label>
                    <input 
                        type="text" 
                        class="text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="director{{ value.id }}" 
                        name="director"
                        maxlength="100" 
                        value="{{ value.director }}"
                        disabled>
                </div>
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Writer(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="writer{{ value.id }}" 
                        name="writer"
                        maxlength="100" 
                        value="{{ value.writer }}"
                        disabled>
                </div>            
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Creator(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="creator{{ value.id }}" 
                        name="creator"
                        maxlength="100" 
                        value="{{ value.creator }}">
                </div>
            {% elseif value.titleType == "Podcast Episode" or value.titleType == "Podcast Series" %}
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Director(s):</label>
                    <input 
                        type="text" 
                        class="text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="director{{ value.id }}" 
                        name="director"
                        maxlength="100" 
                        value="{{ value.director }}"
                        disabled>
                </div>
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Writer(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="writer{{ value.id }}" 
                        name="writer"
                        maxlength="100" 
                        value="{{ value.writer }}"
                        disabled>
                </div>            
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Creator(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="creator{{ value.id }}" 
                        name="creator"
                        maxlength="100" 
                        value="{{ value.creator }}"
                        disabled>
                </div>
            {% elseif value.titleType == "Music Video" %}
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Director(s):</label>
                    <input 
                        type="text" 
                        class="text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                        id="director{{ value.id }}" 
                        name="director"
                        maxlength="100" 
                        value="{{ value.director }}">
                </div>
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Writer(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="writer{{ value.id }}" 
                        name="writer"
                        maxlength="100" 
                        value="{{ value.writer }}"
                        disabled>
                </div>            
                
                <div class="flex mb-4">
                    <label class="inline-block text-[#031e49]">Creator(s):</label>
                    <input 
                        type="text" 
                        class="inline-block text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 opacity-25 px-1.5 outline-none focus:border-slate-300" 
                        id="creator{{ value.id }}" 
                        name="creator"
                        maxlength="100" 
                        value="{{ value.creator }}"
                        disabled>
                </div>
            {% endif %}

            <!--IMDb Rating input-->
            <div class="mb-4">
                <div class="inline-flex items-center">
                    <div class="inline-block text-[#031e49]">IMDb Rating:</div>
                    <div class="relative" id="imdbRatingAsStars{{ value.id }}">{{ include('library/_edit_imdb_rating_stars.html.twig') }}</div>
                    {% if value.ImdbRating != null %}
                        <div>
                            <input type="hidden" id="imdbRating{{ value.id }}" name="imdbRating" value="{{ value.ImdbRating }}">
                        </div>
                    {% else %}
                        <div>
                            <input type="hidden" id="imdbRating{{ value.id }}" name="imdbRating" value="">
                        </div>
                    {% endif %}
                </div>
                <div class="text-xs text-[#031e49] tracking-wide">(*click to select, double click to reset rating)</div>
            </div>

            <!--Genres input-->
            <div class="flex items-center mb-4">
                <div>
                    <input type="hidden" id="hiddenValueGenres{{ value.id }}" name="hiddenValueGenres" value="{{ value.genres }}">
                </div>

                <label for="genres" class="inline-block text-[#031e49]">Genres:</label>
                <div class="inline-block font-light border border-[#031e49] grow ml-1">
                    <select name="genres[]" id="genres{{ value.id }}" data-te-select-init multiple data-te-select-filter="true">
                        <option value="Action">Action</option>
                        <option value="Adult">Adult</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Animation">Animation</option>
                        <option value="Biography">Biography</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Crime">Crime</option>
                        <option value="Documentary">Documentary</option>
                        <option value="Drama">Drama</option>
                        <option value="Family">Family</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Film-Noir">Film-Noir</option>
                        <option value="Game-Show">Game-Show</option>
                        <option value="History">History</option>
                        <option value="Horror">Horror</option>
                        <option value="Music">Music</option>
                        <option value="Musical">Musical</option>
                        <option value="Mystery">Mystery</option>
                        <option value="News">News</option>
                        <option value="Reality-TV">Reality-TV</option>
                        <option value="Romance">Romance</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Short">Short</option>
                        <option value="Sport">Sport</option>
                        <option value="Talk-Show">Talk-Show</option>
                        <option value="Thriller">Thriller</option>
                        <option value="War">War</option>
                        <option value="Western">Western</option>
                    </select>
                </div>
            </div>

            <!--Cast input-->
            <div class="flex mb-4">
                <label class="inline-block text-[#031e49]">Stars:</label>
                <input 
                    type="text" 
                    class="text-slate-200 grow ml-1 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 px-1.5 outline-none focus:border-slate-300" 
                    id="cast{{ value.id }}" 
                    name="cast"
                    maxlength="255" 
                    value="{{ value.stars }}">
            </div>

            <!--IMAGE INPUT-->
            <div class="flex justify-center text-sm font-semibold" id="errorMessageForEditFileInput{{ value.id }}"></div>
            <div class="mb-4">                
                <div class="inline-flex">                    
                    <div class="flex items-center">                        
                        <label class="inline-block text-[#031e49]">Edit an image:</label>
                        <div class="relative h-20 w-20 mr-1">
                            {% if value.imageUrl != null %}
                                <img class="absolute w-full h-full inset-0 object-cover" src="{{ value.imageUrl }}" alt="Cover">
                            {% else %}
                                <img class="absolute w-full h-full inset-0 object-cover" src="/img/clapper.jpg" alt="No cover">
                            {% endif %}                        
                        </div>
                        <input 
                            class="font-light text-slate-100 w-full ml-1 rounded-sm bg-gradient-to-r from-indigo-700 to-indigo-400 hover:cursor-pointer hover:border-slate-400" 
                            type="file" 
                            id="imageName{{ value.id }}"
                            name="imageName"
                            accept=".jpg, .jpeg, .png">                                                
                    </div>
                </div>
                <div class="text-xs text-[#031e49] tracking-wide">(*jpg, jpeg or png; max 5MB)</div>
            </div>       

            <!--Plot input-->
            <div class="mb-4">
                <label class="text-[#031e49]">Plot:</label>
                <textarea
                    class="text-slate-200 rounded-sm border border-[#031e49] bg-gradient-to-r from-indigo-700 to-indigo-400 p-1.5 outline-none focus:border-slate-300"
                    id="plot{{ value.id }}"
                    name="plot"
                    maxlength="1024"
                    rows="5"
                    cols="50">{{ value.plot }}</textarea>
            </div>
        </div>         

        <!--Submit button-->
        <div class="flex justify-end">
            <button
                type="button"
                class="font-medium text-xs text-slate-300 uppercase leading-normal bg-slate-900 px-3 py-1 rounded hover:text-slate-50"
                data-te-modal-dismiss>
                Close
            </button>
            <button 
                type="submit"
                class="font-bold text-xs text-indigo-700 uppercase leading-normal ml-2 px-3 py-1 rounded border-2 border-[#031e49] hover:text-slate-300 hover:bg-gradient-to-r from-indigo-600"
                onclick="return validateForm()">
                Save
            </button>
        </div>       
    </form>
</div>