<div id="editStar1Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">
    <div id="editChosenRating{{ value.id }}" class="hidden absolute -top-6 w-32 text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <div id="editStar1Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar1GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>
</div>
<div id="editStar2Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar2Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar2Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar2GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar3Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar3Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar3Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar3GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar4Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar4Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar4Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar4GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar5Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar5Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar5Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar5GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar6Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar6Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar6Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar6GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar7Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar7Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar7Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar7GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar8Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar8Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar8Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar8GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar9Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar9Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar9Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar9GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
<div id="editStar10Rating{{ value.id }}" class="relative inline-block cursor-pointer w-8">   
    <div id="editStar10Tooltip{{ value.id }}" class="hidden absolute -top-6 w-full text-center text-sm font-semibold text-slate-300 border-2 border-slate-900 rounded-md bg-slate-900 z-1 transition ease-in-out delay-300 mx-0.5 px-1.5"></div>
    <svg 
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"    
        class="size-8">
        <defs>
            <linearGradient id="editStar10Grad1Id{{ value.id }}">
                <stop offset="10%" stop-color="currentColor"/>
                <stop offset="90%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad2Id{{ value.id }}">
                <stop offset="20%" stop-color="currentColor"/>
                <stop offset="80%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad3Id{{ value.id }}">
                <stop offset="30%" stop-color="currentColor"/>
                <stop offset="70%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad4Id{{ value.id }}">
                <stop offset="40%" stop-color="currentColor"/>
                <stop offset="60%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad5Id{{ value.id }}">
                <stop offset="50%" stop-color="currentColor"/>
                <stop offset="50%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad6Id{{ value.id }}">
                <stop offset="60%" stop-color="currentColor"/>
                <stop offset="40%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad7Id{{ value.id }}">
                <stop offset="70%" stop-color="currentColor"/>
                <stop offset="30%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad8Id{{ value.id }}">
                <stop offset="80%" stop-color="currentColor"/>
                <stop offset="20%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10Grad9Id{{ value.id }}">
                <stop offset="90%" stop-color="currentColor"/>
                <stop offset="10%" stop-color="transparent"/>
            </linearGradient>
            <linearGradient id="editStar10GradFullId{{ value.id }}">
                <stop offset="100%" stop-color="currentColor"/>
            </linearGradient>
        </defs>
        <path 
            fill="none"
            d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z">
    </svg>    
</div>
