<div id="beginningRev{{ value.id }}" class="inline-flex flex-row">
    {% if value.review|length > 100 %}
      {{ value.review[:100] }}...
    {% else %}
      {{ value.review }}
    {% endif %}
</div>
<div class="inline-flex ml-1 mb-1.5">
  <button 
    class="revBtn text-xs uppercase leading-normal text-indigo-400 tracking-wide px-3 py-1 border-2 border-[#778899] rounded shadow-lg shadow-indigo-500/50 transition duration-150 ease-in-out hover:text-white hover:bg-gradient-to-r from-indigo-600 hover:shadow-[#778899]/75"
    type="button"
    id="reviewExpandBtn{{ value.id }}"
    data-te-collapse-init
    data-te-target="#collapseReview{{ value.id }}"
    aria-expanded="false"
    aria-controls="collapseReview{{ value.id }}">
    Show full review
  </button>
</div>
<div class="!visible hidden mt-2" id="collapseReview{{ value.id }}" data-te-collapse-item>
  <div
    class="block rounded p-6 border-2 border-indigo-500/75">
    {{ value.review }}
  </div>
</div>