{% extends 'base.html.twig' %}

{% block title %}MFC Library!{% endblock %}

{% block footer %}
    <script type="text/javascript">
		{% if id is defined %}
            let updatedTitle = "item" + '{{ id }}';
            document.getElementById(updatedTitle).scrollIntoView();
        {% endif %}       
	</script>
    <script src="/js/main.js"></script>
    <script src="/js/editUserStarsRating.js"></script>
    <script src="/js/editImdbStarsRating.js"></script>
    <script src="/js/formsTitleValidation.js"></script>
    <script src="/js/editTitle.js"></script>
    <script src="/js/scrollBackToTop.js"></script> 
{% endblock %}

{% block body %}
    {% for message in app.flashes('delete') %}
        <div
            class="my-3 inline-flex w-full items-center rounded-lg bg-green-700 px-6 py-5 text-base text-white"
            role="alert"
            data-te-alert-init
            data-te-alert-show>
            <span class="mr-2">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6">
                <path
                    fill-rule="evenodd"
                    d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                    clip-rule="evenodd" />
                </svg>
            </span>
            <div>{{ message }}</div>
            <button
                type="button"
                class="ml-auto box-content rounded-none border-none p-1 text-white opacity-100 hover:text-white hover:no-underline hover:opacity-50 focus:opacity-100 focus:shadow-none focus:outline-none"
                data-te-alert-dismiss
                aria-label="Close">
                <span
                    class="w-[1em] focus:opacity-100 disabled:pointer-events-none disabled:select-none disabled:opacity-25 [&.disabled]:pointer-events-none [&.disabled]:select-none [&.disabled]:opacity-25">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 24 24"
                        fill="currentColor"
                        class="h-6 w-6">
                        <path
                            fill-rule="evenodd"
                            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                            clip-rule="evenodd">
                    </svg>
                </span>
            </button>
        </div>
    {% endfor %}
    <div class="flex justify-between mb-5">
        {% if data|length > 0 %}
            {% set numberOfItems = data|length %}
            <div class="">{{ include('library/_dropdown_filter.html.twig') }}</div>
            <div class="text-slate-200">Number of titles: {{ numberOfItems }}</div>
        {% endif %}      
    </div>    
    <div>
        {% if data|length > 0 %}
            <ul>
                {% for value in data %}
                    <li id="item{{ value.id }}" class="border-solid border-2 border-[#708090] rounded-lg p-2 mb-5">
                        <div>
                            <div>                        
                                {% if id is defined %}
                                    {% if value.id == id %} 
                                        {% for message in app.flashes('success') %}                                                       
                                            <div
                                                class="my-3 inline-flex w-full items-center rounded-lg bg-green-700 px-6 py-5 text-base text-white"
                                                role="alert"
                                                data-te-alert-init
                                                data-te-alert-show>
                                                <span class="mr-2">
                                                    <svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    viewBox="0 0 24 24"
                                                    fill="currentColor"
                                                    class="h-6 w-6">
                                                    <path
                                                        fill-rule="evenodd"
                                                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                                        clip-rule="evenodd" />
                                                    </svg>
                                                </span>
                                                <div>{{ message }}</div>
                                                <button
                                                    type="button"
                                                    class="ml-auto box-content rounded-none border-none p-1 text-white opacity-100 hover:text-white hover:no-underline hover:opacity-50 focus:opacity-100 focus:shadow-none focus:outline-none"
                                                    data-te-alert-dismiss
                                                    aria-label="Close">
                                                    <span
                                                        class="w-[1em] focus:opacity-100 disabled:pointer-events-none disabled:select-none disabled:opacity-25 [&.disabled]:pointer-events-none [&.disabled]:select-none [&.disabled]:opacity-25">
                                                        <svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            viewBox="0 0 24 24"
                                                            fill="currentColor"
                                                            class="h-6 w-6">
                                                            <path
                                                                fill-rule="evenodd"
                                                                d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
                                                                clip-rule="evenodd">
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                        {% for message in app.flashes('fail') %}                                                       
                                            <div class="rounded-md border dark:border-green-600 dark:bg-green-700 dark:text-white">{{ message }}</div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}                                              
                            </div>
                            {# FIRST COLUMN #}
                            <div class="flex justify-between">
                                <div class="inline-flex flex-row">
                                    <div class="relative h-20 w-14 mr-1">
                                        {% if value.imageUrl is not empty %}
                                            {% if value.imageUrl starts with 'https' %}
                                                <img class="absolute w-full h-full inset-0 object-cover" src="{{ value.imageUrl }}" alt="Cover">
                                            {% else %}
                                                <img class="absolute w-full h-full inset-0 object-cover" src="/img/uploads/titles/{{ value.imageUrl }}" alt="Cover">
                                            {% endif %}
                                        {% else %}
                                            <img class="absolute w-full h-full inset-0 object-cover" src="/img/clapper.jpg" alt="No cover">
                                        {% endif %}
                                    </div>                            
                                    <div class="flex items-center ml-1">
                                        <div class="text-sm tracking-wider">
                                            <div class="text-base font-semibold tracking-normal">{{ value.originalTitle }}</div>                        
                                            {% if value.titleType == "Movie" %}
                                                {% if value.releaseDate != null and value.runtime != null %}
                                                    <div>{{ value.releaseDate }} | {{ value.runtime }}</div>
                                                {% elseif value.releaseDate != null and value.runtime == null %}
                                                    <div>{{ value.releaseDate }}</div>
                                                {% elseif value.releaseDate == null and value.runtime != null %}
                                                    <div>{{ value.runtime }}</div>
                                                {% else %}
                                                    {# <div>Both values (releaseDate and runtime) are null</div> #}
                                                {% endif %}
                                                <div>
                                                    {% if value.director != null %}
                                                        {% if ',' in value.director %}
                                                            <div>Directors: {{ value.director }}</div>
                                                        {% else %}
                                                            <div>Director: {{ value.director }}</div>
                                                        {% endif %} 
                                                    {% endif %}                            
                                                </div>
                                                <div>
                                                    {% if value.writer != null %}
                                                        {% if ',' in value.writer %}
                                                            <div>Writers: {{ value.writer }}</div>
                                                        {% else %}
                                                            <div>Writer: {{ value.writer }}</div>
                                                        {% endif %} 
                                                    {% endif %}
                                                </div>
                                            {% else %}
                                                {% if value.releaseDate != null and value.titleType != null and value.runtime != null %}
                                                    {% if value.runtime|first == '0' %}
                                                        <div>{{ value.releaseDate }} | {{ value.titleType }} | {{ value.runtime[3:] }}</div>
                                                    {% else %}
                                                        <div>{{ value.releaseDate }} | {{ value.titleType }} | {{ value.runtime }}</div>
                                                    {% endif %}
                                                {% elseif value.releaseDate != null and value.titleType != null and value.runtime == null %}
                                                    <div>{{ value.releaseDate }} | {{ value.titleType }}</div>
                                                {% elseif value.releaseDate != null and value.titleType == null and value.runtime == null %}
                                                    <div>{{ value.releaseDate }}</div>
                                                {% elseif value.releaseDate == null and value.titleType != null and value.runtime != null %}
                                                    {% if value.runtime|first == '0' %}
                                                        <div>{{ value.titleType }} | {{ value.runtime[3:] }}</div>
                                                    {% else %}
                                                        <div>{{ value.titleType }} | {{ value.runtime }}</div>
                                                    {% endif %}
                                                {% elseif value.releaseDate != null and value.titleType == null and value.runtime != null %}
                                                    {% if value.runtime|first == '0' %}
                                                        <div>{{ value.releaseDate }} | {{ value.runtime[3:] }}</div>
                                                    {% else %}
                                                        <div>{{ value.releaseDate }} | {{ value.runtime }}</div>
                                                    {% endif %}
                                                {% elseif value.releaseDate == null and value.titleType == null and value.runtime != null %}
                                                    {% if value.runtime|first == '0' %}
                                                        <div>{{ value.runtime[3:] }}</div>
                                                    {% else %}
                                                        <div>{{ value.runtime }}</div>
                                                    {% endif %}
                                                {% elseif value.releaseDate == null and value.titleType != null and value.runtime == null %}
                                                    <div>{{ value.titleType }}</div>
                                                {% else %}
                                                    {# <div>All 3 values (releaseDate, titleType and runtime) are null</div> #}
                                                {% endif %}
                                                <div>
                                                    {% if value.creator != null %}
                                                        {% if ',' in value.creator %}
                                                            <div>Creators: {{ value.creator }}</div>
                                                        {% else %}
                                                            <div>Creator: {{ value.creator }}</div>
                                                        {% endif %} 
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    {% if value.director != null %}
                                                        {% if ',' in value.director %}
                                                            <div>Directors: {{ value.director }}</div>
                                                        {% else %}
                                                            <div>Director: {{ value.director }}</div>
                                                        {% endif %} 
                                                    {% endif %}                            
                                                </div>
                                                <div>
                                                    {% if value.writer != null %}
                                                        {% if ',' in value.writer %}
                                                            <div>Writers: {{ value.writer }}</div>
                                                        {% else %}
                                                            <div>Writer: {{ value.writer }}</div>
                                                        {% endif %} 
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>                    
                                    </div>
                                </div>

                                {# SECOND COLUMN #}
                                <div class="flex items-center">
                                    <div class="block text-sm tracking-wider">
                                        <div class="inline-flex flex-row mb-1.5">
                                            {% if value.rating != null %}
                                                <div>My Rating: {{ value.rating }}/10</div>
                                            {% else %}
                                                <div>My Rating: /10</div>
                                            {% endif %}
                                            <div class="ml-0.5">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                                                </svg>
                                            </div>
                                        </div>                                        
                                        <div class="flex flex-row mb-1.5">
                                            {% if value.ImdbRating != null %}
                                                <div>IMDb Rating: {{ value.ImdbRating }}/10</div>
                                            {% else %}
                                                <div>IMDb Rating: /10</div>
                                            {% endif %}
                                            <div class="ml-0.5">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="yellow" viewBox="0 0 24 24" stroke-width="1.5" stroke="yellow" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <div>
                                            {% if value.toWatch != null %}
                                                <div>Watchlist: Want to see!</div>
                                            {% else %}
                                                <div>Watchlist: -</div>
                                            {% endif %}
                                        </div>                   
                                    </div>
                                </div>
                            
                                {# THIRD COLUMN #}
                                <div class="flex items-center">
                                    <div class="flex-col">
                                        <div class="mb-1">{{ include('library/_edit_modal.html.twig') }}</div>                    
                                        <div class="">{{ include('library/_delete_modal.html.twig') }}</div>
                                    </div>
                                </div>                        
                            </div>

                            <div class="my-4">
                                <div class="">
                                    {% if value.genres != null %}
                                        {% set genres = value.genres|split(',') %}
                                        {% for genre in genres %}
                                            <span class="text-sm border-solid border-2 border-indigo-500 rounded-full p-1.5">{{ genre }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>                       
                                <div class="mt-4">Stars: {{ value.stars }}</div>
                                <div class="italic text-slate-200 my-3">{{ value.plot }}</div>
                            </div>
                            <div>
                                {% if value.review != null %}
                                    <div>{{ include('library/_reviews.html.twig') }}</div>
                                {% else %}
                                    <div>No review yet!</div>
                                {% endif %}
                            </div>               
                        </div>                              
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div>Library is empty!</div>
        {% endif %}
    </div>
    <div>{{ include('shared/_back_to_top_btn.html.twig') }}</div>
{% endblock %}