{% extends 'base.html.twig' %}

{% block title %}Find{% endblock %}

{% block body %}
    <div>
        {{ include('api/_search_form.html.twig') }}
    </div>
    <div class="mb-1">
        {% if title is not null %}
            <h4 class="text-3xl">Search "{{ title }}"</h4>
        {% else %}
            No result!
        {% endif %}               
        <div>Not happy with the result? Add the title manually <a href="{{ path('app_form_add_title_manually')}}">here</a>.</div>      
    </div>
    <div class="mt-2">
        {% if data|length > 0 %}            
            <h4 class="text-xl my-2">Titles</h4>
            <div>(Most popular ones)</div>                      
            <ul>
                {% for value in data %}
                    {% if value.meterRanking != null %}
                        {{ include('api/_search_list_result.html.twig') }}                       
                    {% endif %} 
                {% endfor %}
                <div>
                    <hr class="my-2 h-0 border border-t-0 border-solid border-neutral-700 opacity-25 dark:border-neutral-200">
                </div>
                {% for value in data %}
                    {% if value.meterRanking == null %}
                        {{ include('api/_search_list_result.html.twig') }}
                    {% endif %}
                {% endfor %}               
            </ul>                       
        {% else %}
            No result!
        {% endif %}
    </div>
    <div class="mt-2">
        {% if next == true %}           
            <div>
                {% if page >= 2 %}
                    <a href="{{ path('app_show_more', { 'title': title, 'pageNumber': page - 1 }) }}">
                        <button class="inline-block bg-indigo-600 text-white rounded-md border p-2 mt-4 mb-2">Previous</button>
                    </a>
                {% endif %}
                <a href="{{ path('app_show_more', { 'title': title, 'pageNumber': page + 1 }) }}">
                    <button class="inline-block bg-indigo-600 text-white rounded-md border p-2 mt-4 mb-2">More</button>
                </a>                
            </div>            
        {% else %}
            {% if page != 1 %}
                <div>
                    <a href="{{ path('app_show_more', { 'title': title, 'pageNumber': page - 1 }) }}">
                        <button class="inline-block bg-indigo-600 text-white rounded-md border p-2 mt-4 mb-2">Previous</button>
                    </a>
                </div>
            {% else %}
                Only one page!
            {% endif %}
        {% endif %}       
    </div>
{% endblock %}