{% extends 'base.html.twig' %}

{% block title %}Search - MFC{% endblock %}

{% block footer %}
    <script src="/js/scrollBackToTop.js"></script>
    <script src="/js/hideClearButton.js"></script>    
{% endblock %}

{% block body %}
    <div>{{ include('api/_search_form.html.twig') }}</div>    
    <div class="mt-6 mb-3">
        {% if title is not null %}
            <h4 class="text-xl md:text-2xl lg:text-3xl ml-1.5 md:ml-0">Search "{{ title }}"</h4>
        {% endif %}
    </div>    
    <div class="mt-2">
        <h4 class="text-base md:text-lg lg:text-xl ml-1.5 md:ml-0 my-2">Titles (most popular ones)</h4>
        {% if popularTitlesData|length > 0 %}                                 
            <ul>
                {% for value in popularTitlesData %}
                    {{ include('api/_search_result.html.twig') }}
                {% endfor %}       
            </ul>                       
        {% else %}
            <div class="text-xl md:text-2xl lg:text-3xl ml-1.5 md:ml-0">No result!</div>
        {% endif %}
        
        {% if lessPopularTitlesData is defined %}
            {% if lessPopularTitlesData|length > 0 %}            
                <div>
                    <hr class="my-3 h-0 border border-t-0 border-solid border-neutral-700 opacity-25 dark:border-neutral-200">
                </div>
                <h4 class="text-base md:text-lg lg:text-xl ml-1.5 md:ml-0 my-2">Titles (other)</h4>                    
                <ul>
                    {% for value in lessPopularTitlesData %}
                        {{ include('api/_search_result.html.twig') }}
                    {% endfor %}       
                </ul>                       
            {% else %}
                {% if popularTitlesData|length > 0 %}
                    <div class="text-xl md:text-2xl lg:text-3xl ml-1.5 md:ml-0">No result!</div>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    <div class="font-medium text-[#708090] text-xs md:text-sm lg:text-base tracking-normal lg:tracking-wide ml-1.5 md:ml-0 my-2">Not happy with the result? Add more specific filter or add the title manually <a href="{{ path('app_form_add_title_manually')}}" class="hover:text-indigo-500 hover:underline decoration-1">here</a>.</div>
    <div>
        {{ include('shared/_back_to_top_btn.html.twig') }}
    </div>
{% endblock %}